<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗登録確認</title>
<link rel="stylesheet" th:href="@{/css/registShop.css}">
</head>
<body>
	
	<h2>店舗登録確認</h2>
	
	<div th:object="${shopRegistForm}">
		【店舗名】<br>
		<p th:text="*{restaurantName}"></p><br><br>
		【キャッチフレーズ】<br>
		<p th:text="*{catchPhrase}"></p><br><br>
	</div>
	
	<form th:action="@{/confirm-regist-shop}" method="POST" th:object="${shopRegistForm}">
		<input type="hidden" th:field="*{restaurantName}"><br>
		<input type="hidden" th:field="*{catchPhrase}"><br>
		<input type="submit" value="登録実行" class="btn">
	</form>
	
	<form th:action="@{/show-regist-shop-ret}" method="POST" th:object="${shopRegistForm}">
		<input type="hidden" th:field="*{restaurantName}"><br>
		<input type="hidden" th:field="*{catchPhrase}"><br>
		<input type="submit" value="もどる" class="btn">
	</form>
</body>
</html>