<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗編集</title>
<link rel="stylesheet" th:href="@{/css/registShop.css}">
</head>
<body>
	
	<h2>店舗編集</h2>
	
	<form th:action="@{/edit-restaurant}" method="POST" th:object="${restaurantEditForm}">
		【ID】<br>
		<p th:text="*{restaurantId}"></p>
		<input type="hidden" th:field="*{restaurantId}">
		<div th:errors="*{restaurantId}" class="error-msg"></div>
		【店舗名】<br>
		<input type="text" th:field="*{restaurantName}"><br>
		<div th:errors="*{restaurantName}" class="error-msg"></div>
		<br>
		【キャッチフレーズ】<br>
		<input type="text" th:field="*{catchPhrase}"><br>
		<div th:errors="*{catchPhrase}" class="error-msg"></div>
		<br>
		<input type="submit" value="登録" class="btn">
	</form>
	<a href="/mt-top">管理メニューに戻る</a>

</body>
</html>